body {
  margin: 0;
  padding: 0;
}
#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}
nav {
  background: aquamarine;
  grid-column: span 2;
}
#project {
  background: antiquewhite;
  min-width: 250px;
}
#todo {
  background: coral;
}
form {
  display: flex;
}
