@font-face {
  font-family: 'Eczar';
  src: url(./Eczar/Eczar-VariableFont_wght.ttf);
}
:root {
  --grey: #58565665;
  --light-grey: #d1ccccfa;
  --pink: rgb(197, 93, 142);
}
body {
  color: var(--light-grey);
  font-family: 'Eczar', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#container {
  max-height: 100vh;
  background: rgba(20, 20, 20, 0.945);
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}
nav {
  grid-column: span 2;
}
nav > h1 {
  font-size: 3rem;
  margin: 10px;
}
#project {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid var(--pink);
}
#todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list-form {
  padding: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--pink);
  background-color: var(--grey);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  width: 250px;
  position: relative;
}
#new-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
#new-project > input {
  width: 120px;
  margin-left: 10px;
  border: none;
}
#new-project > button {
  width: 100px;
  height: 20px;
  padding-left: 10px;
}
#projects-list > div {
  border-bottom: 2px solid var(--pink);
  padding-bottom: 5px;
  margin-top: 15px;
}

#projects-list > div:hover {
  box-shadow: 0px 7px 5px -3px var(--pink);
  cursor: pointer;
}

.hidden {
  display: none;
}

.todos {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  border: 1px solid var(--pink);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 1rem;
}
.todos > div:first-child {
  width: 300px;
}
.todos > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

button {
  background: var(--grey);
  color: var(--light-grey);
  border: none;
  border-radius: 4px;
}

#exit-form {
  position: absolute;
  top: 5px;
  left: 235px;
}

.select-project {
  margin-right: 5px;
  max-width: 100px;
}
