:root {
  --grey: #58565665;
  --light-grey: #d1ccccfa;
}
body {
  margin: 0;
  padding: 0;
}
#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}
nav {
  background: aquamarine;
  grid-column: span 2;
}
#project {
  background: antiquewhite;
  min-width: 250px;
}
#todo {
  background: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list-form {
  padding: 5px;
  margin-left: 20px;
  display: flex;
  border: 2px solid var(--grey);
  background-color: var(--light-grey);
  border-radius: 10px;
  justify-content: center;
  height: 25px;
  width: 700px;
}
